<h2><%=@equip.name%></h2>
Currently in use:  <%=@equip.in_use%> 
<% if !@equip.in_use %>
	<br><a href="<%=@equip.id%>/use"><button>Use equipment</button></a>
<% end %><hr>
Required certification:
	<ul>
		<% if @equip.certificate %>
			<li><a href="/certifications/<%=@equip.certificate.id%>"><%=@equip.certificate.name%></a></li>
		<% else %>
			No certificate specified. Choose edit to fix.
		<% end %>
	</ul>
<a href="/equipment/<%=@equip.id%>/edit"><button>Edit equipment</button></a>
		<form action="/equipment/<%=@equip.id%>" method="post">
			<input type="hidden" name="_method" value="delete"><button>Delete equipment</button>
		</form> <hr>