<h2>Profile</h2><hr>
<form action="/profile" method="post">
	<input type="hidden" name="_method" value="patch">
	First name: <input type="text" name="user[first_name]" value="<%=@user.first_name%>"><br>
	Last name: <input type="text" name="user[last_name]" value="<%=@user.last_name%>"><br>
	Phone number: <input type="tel" name="user[phone_number]" value="<%=@user.phone_number%>"><br>
	Email: <input type="text" name="user[email]" value="<%=@user.email%>"><br>
	Bio: <textarea name="user[bio]" cols="40" rows="5"><%=@user.bio%></textarea><br>
	<input type="submit" value="Update profile">
</form>
<h3>Tests completed:</h3>
<ul>
	<% @user.tests.each do |t| %>
		<li><%=t.name%></li>
	<% end %>
</ul>
<h3>Certificates achieved:</h3>
<ul>
	<% @user.certificates.each do |c| %>
		<li><%=c.name%></li>
	<% end %>
</ul>